node_modules/
www/build/
platforms/
plugins/
.idea/
.DS_Store


Thumbs.db

*.VisualState.xml
TestResult.xml

*.suo
*.user
*.userosscache
*.sln.docstates

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

*.psess
*.vsp
*.vspx

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

*.nupkg
**/packages/*
!**/packages/build/
*.tss
/app/app.js
/.vs
/app/pages/home/home.js
/app/pages/detail/detail.js
/bin/Android/Debug
/app/common/config.js
/app/common/exception.service.js
/app/common/common.js
/app/common/common.functions.js
/app/rxjs-operators.js
/app/providers/localUserStorage.js
/app/providers/dataService.js
/app/models/IFactoriesCSharpClasses.js
/app/models/IFactoriesCSharpEnums.js
/app/models/Implementations.js
/app/providers/myAccountService.js
/app/models/IFactoriesStructures.js
/app/models/ImplementationLocalClasses.js
/app/providers/timeCardService.js
/app/pipes/YesNoPipe.js
/app/pipes/DateFormatPipe.js
/app/pipes/pipes.js
/app/pages/time-sheet-page/time-sheet-page.js
/app/providers/timeSheetService.js
/app/pages/change-password-page/change-password-page.js
/app/pages/forgot-password-page/forgot-password-page.js
/app/pages/forgot-username-page/forgot-username-page.js
/app/pages/time-card-edit-page/time-card-edit-page.js
/app/pages/time-sheet-edit-page/time-sheet-edit-page.js
/app/pages/home-page/home-page.js
/app/pages/job-manager-page/job-manager-page.js
/app/pages/login-page/login-page.js
/app/pages/review-time-page/review-time-page.js
/app/pages/splash-page/splash-page.js
/app/pages/time-card-page/time-card-page.js
/app/validators/customRequireValidator.js
/app/validators/validators.js
/app/validators/matchingPasswordsValidator.js
/app/providers/reviewService.js
/app/providers/customHttpService.js
/app/providers/localGeneralStorageService.js
/app/pages/review-day-page/review-day-page.js
/app/pages/breaks-list-page/breaks-list-page.js
/app/pages/breaks-edit-page/breaks-edit-page.js
/app/common/eventSubscriptions.js
/app/pages/about/about.js
/bin/Android/Release
/app/pages/sick-days/sick-days.js
/app/pages/vacation/vacation.js
/app/providers/sickDayService.js
/app/providers/vacationService.js
/app/providers/SickDaysService.js
/app/pages/sick-day-edit/sick-day-edit.js
/app/pages/vacation-edit/vacation-edit.js
